* {
  font-family: avenir;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
}
table th {
  background: #000;
  color: #fff;
}
table th,
table td {
  padding: 5px;
  text-align: center;
}
table td {
  border-bottom: 1px solid #646464;
}
table .current {
  background: #ebebeb;
}
table .final {
  background: #c8c8c8;
}
table .final-score {
  background: #000;
  color: #fff;
}
table .final-score td {
  font-size: 1.25em;
  font-weight: bold;
}
.credit {
  margin-top: 55px;
  font-size: 0.8em;
}
@media print {
  table {
    page-break-after: always;
  }
}
